*{
    box-sizing: border-box;
    text-decoration: none;
}
.top_bar{
    background-color: black;
    color:#fff;
    text-align: center;
    padding: 5px;
    font-size: 10pt;
    font-weight: 600;
}
.menu_bar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 10px;
}
.menu{
    display: flex;
    align-items: center; 
}

.menu > div {
    padding-left: 50px;
}
.menu a {
    color:rgb(32, 32, 32);
    font-family: 'Nanum Myeongjo', serif;
}
.menu a:hover{
    color:rgb(0, 105, 70);
}
.right_icon {
    display: inline-block;
}
.right_icon span {
    width: 30px;
    height: 70px;
    line-height: 70px;
}

/*====메뉴하단=======*/
.text_box{
    height: 55px;
    line-height: 90px;
    font-size: 0.9rem;
    margin: 10px;
   
}
/*====상품 부분=======*/
.midbox_all{
    display: flex;
    padding: 0px;
    margin: 0 -15px;
    padding: 10px;
}
.small_box img{
    width:686px;
    height:686px;
    padding: 10px;
}
.small_2 img{
    border: 0.025rem solid #000;
    padding: 4px;
    width: 70px;
    height:70px;
}
.right_box_text{
    margin: 0 300px;
}
.name > span{
    
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
}
.name_2 > span{
    margin-top: 5px;
    float: left;
    font-size: 14px;
}
.sub_price > span {
    margin-top: 5px;
    float: right;
    font-size: 14px;
}
.product {
    clear: both;
    padding: 40px 0px 20px;
    font-size: 13px;
}

/*====옵션 선택 부분=====*/
.option_box{
    display: inline-block;
    gap: 10px;
    margin-bottom: 15px;  
}
.box_1> div{
    margin: 0 300px;
    margin-bottom: 10px;
    font-size: 14px;
}
.option-value{
    display: flex;
    gap: 10px; 
    width: 100%;
    border: 1px solid #EEE;
    background: #FFF;
    line-height: 50px;
    width: 480px;
    height:50px;

}
.option-value > span{
    line-height: 50px;
    position: absolute;
    padding: 0 0 0 10px;  
    font-size: 1rem;
    margin-top: 15px;
    margin: 0 430px; 
}
.gift_box{
    margin: 20px 300px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    gap: 10px; 
    width: 100%;
    border: 1px solid black;
    background: #FFF;
    line-height: 50px;
    width: 480px;
    height:50px;
    justify-content:center
}
.add{
    margin: 0 300px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    gap: 10px; 
    width: 100%;
    border: 1px solid black;
    background: black;
    line-height: 50px;
    width: 480px;
    height:50px;
    justify-content: center;
    color:#fff;
}
.product-add-info{
    border-bottom: 1px solid #E1E1E1;
    width: 480px;
    margin: 20px 300px;
}
.info-container{
    position: relative;
    height: auto;
    margin-top: 50px;
   
}
.set{
    position: relative;
    width: 100%;
    height: auto;
    width: 100%;
    height: 50px;
    overflow: hidden;
   
  
}
.product-add-info .set > h1{
    display: block;
    padding: 8px 0;
    text-decoration: none;
    border-top: 1px solid #E1E1E1;
    font-size: 13px;
}

.set > h1 > span{
    float: right;
    font-size: 16px;
    line-height: 40px;
}
.set:hover {
    height: auto;
}
.set > h1{
font-weight: 400;
line-height: 30px;
font-size: 12px;
}
.set > h1 > p{
    color:#949494;
}
.set > h1> p > span {
    font-size: 15px;
    margin-right: 5px;
}
/*====Recommend these Items====*/
.items_all{
    margin-top: 90px;
    padding: 0;

}

.title > h1{
    font-size: 14px;
    margin: 0 0 30px;
}
.item_01 img{
    width: 454px;
}
.item_02 img{
    width: 454px;
}
.item_03 img{
    width: 454px;
}
.products_all{
   display: flex;
}



