@media all and (max-width:600px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body {
        font-size: 10pt;
        color:rgb(32, 32, 32);
    }
   
    


























}