*{
    box-sizing: border-box;
    text-decoration: none;
}
.top_bar{
    background-color: black;
    color:#fff;
    text-align: center;
    padding: 5px;
    font-size: 10pt;
    font-weight: 600;
}
.menu_bar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 10px;
}
.menu{
    display: flex;
    align-items: center; 
}

.menu > div {
    padding-left: 50px;
}
.menu a {
    color:rgb(32, 32, 32);
    font-family: 'Nanum Myeongjo', serif;
}
.menu a:hover{
    color:rgb(0, 105, 70);
}
.right_icon {
    display: inline-block;
}
.right_icon span {
    width: 30px;
    height: 70px;
    line-height: 70px;
}

/*====메뉴하단=======*/
.text_box{
    height: 55px;
    line-height: 50px;
    font-size: 0.9rem;
    margin: 10px;
   
}