@media all and (max-width:800px) {
.mob_all{
    display: block;
}
.pc_all{
    display: none;
}
/*======메뉴바========*/
.top_menu_all{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 65px;
   
    padding: 0 15px;
    align-items: center;
}
.menu_burger{
    width: 27px;
    height:24px;
    
}
.icon_all{
    display: flex; 
    gap:5px;
}

.menu_logo{
    padding-left: 35px;
}

/* ======메뉴하단 이미지======*/

.mid_box1{
    display: flex;
    flex-direction: column;
}






















}